<div class="margin-custom">
  <div class="example-container" *ngFor="let zoologico of zoologicos; let i = index">
    <h2>{{'Lista de soltar ' + (i + 1)}}</h2>
    <div class="example-list" id="{{zoologico.nome}}"
         [cdkDropListConnectedTo]="nomesDropList"
         [cdkDropListData]="zoologico.animais"
         (cdkDropListDropped)="dropItems($event)" cdkDropList>

      <div class="example-box" *ngFor="let animal of zoologico.animais"
           [ngClass]="{'selected' : animal.selecionado}"
           (cdkDragStarted)="prepararArrasto(animal)"
           (click)="selecionarAnimal($event, animal)"
           cdkDrag>
        <span>{{animal.especie}}</span>
      </div>
    </div>
  </div>
</div>
